.echarts-for-react {
    margin: auto
}
.map-chart {
    height: 75vw !important;
    width: 95vw;
    background-color: whitesmoke;
    border-radius: 3%;
}

.line-chart-acc, .line-chart-new {
    height: 50vw !important;
    width: 95vw;
}